$action-color: #0890C3;
$action-hover-color: #18afe6;
$color-light: #fff;
$color-dark: #000;

$background-font-color: $color-light;
$background-color: rgb(79, 79, 79);
$light-gray: #b2bec3;
$bright-gray : #dfe6e9;

$error-light-red: #ff7675;
$error-dark-red: #d63031;
$success-light-green: #55efc4;